.product-card-container {
  width: auto;
  display: flex;
  flex-direction: column;
  height: 350px;
  align-items: center;
  justify-content: space-around;
  flex: 0 1 auto;
  position: relative;
  margin: 0 auto 30px 0;

  img {
    min-width: 95%;
    min-height: 95%;
    // object-fit: contain;
    margin-bottom: 1px;

    @media only screen and (max-width: 600px) {

    }
  }

  button {
    min-width: 80%;
    opacity: 0.7;
    position: absolute;
    top: 255px;
    display: none;
  }

  &:hover {
    img {
      opacity: 0.8;
    }

    button {
      opacity: 0.85;
      display: flex;
    }
  }

  .footer {
    // max-width: 95%;
    min-height: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;

    .name {
      width: 90%;
    }

    .price {
      width: 10%;
    }
  }
}
