.authentication-container {
    min-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
    margin: 50px 0px;
    row-gap: 70px;
    column-gap: 30px;
}